<!DOCTYPE html>
<html>
<head>
	<meta></meta>
	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width" />
	<title>Project-Space</title>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="static/css/jquery.toast.css">
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="static/libs/jquery.toast.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
	<script data-main="static/app.js" src="static/libs/require.js"></script>
</head>
<body>

<div id='gui'>

	<div v-if="loginOpened" class='panel center'>
		<h1 class='tc'>Login</h1>
		<input class='fullRow' type="text" placeholder="Username" v-model="credentials.username">
		<input class='fullRow' type="password" placeholder="Password" v-model="credentials.password">
		<p class='tc'>
			<button class='long' @click="Login()">Access</button>
		</p>
		<p class="tc">
			<a @click='openRegister()'>Not registered yet?</a>
		</p>
	</div>

	<div v-if="registerOpened" class='panel center'>
		<div class="panel-menu">
			<a class='right btn' @click='openLogin()'>✕</a>
		</div>
		<h1 class='tc'>Registration</h1>
		<input class='fullRow' type="text" placeholder="Username" v-model="register.username">
		<input class='fullRow' type="password" placeholder="Password" v-model="register.password">
		<input class='fullRow' type="password" placeholder="Repeat password" v-model="register.repeatPassword">
		<p class='tc'>
			<button class='long' @click="Register()">Register</button>
		</p>
		<p class="tc">
			<a @click='openLogin()'>Already have account</a>
		</p>
	</div>


</div>

</body>
</html>
