body { font-family: sans-serif; }

html, body, canvas, #gui { width: 100%; height: 100%;
	margin: 0; overflow: hidden; }

#gui { position: fixed; }

.panel { min-width: 360px; min-height: 240px;
	background: rgba(0, 150, 136, 0.15); color: #21a6a2;
	box-shadow: 1px 1px 2px rgba(0, 150, 136, 0.15), -1px -1px 2px rgba(0, 150, 136, 0.1);
	border-bottom: 2px solid rgba(0, 150, 136, 0.28); border-radius: 3px; }

.center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.tc { text-align: center; }
.right { float: right; }

button { color: #21a6a2; background: rgba(0, 150, 136, 0.28);
	border: 1px solid rgba(0, 150, 136, 0.38); padding: 6px 12px;
	border-radius: 2px;outline: none; cursor: pointer;
	font-size: 18px;}
button:hover { background: rgba(0, 150, 136, 0.34); }

button.long { padding: 6px 24px; }

input { display: block; margin: 16px; padding: 6px 12px;
	background: transparent; color: #21a6a2; outline: none;
	border: none; border-bottom: 1px solid rgba(0, 150, 136, 0.38);
	font-size: 14px; }
input.fullRow { width: calc(100% - 64px); }

a { color: #177774; font-size: 14px; cursor: pointer; }
a:hover { color: #21a6a2; }

a.btn { font-size: 18px; margin: 6px; }